.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, maroon, rgb(104, 58, 58), black );
    color: white;
}

h1 {
    font-family: 'Playfair Display', serif; }

h4 {
    font-family: 'ZCOOL XiaoWei', serif; 
    }

.nav-bg {
    background-image: linear-gradient(to right,maroon,rgb(104,58,58),maroon, rgb(31, 29, 29));
}

.site-footer {
    background-image: linear-gradient(to right, black, white);
    padding: 10px 0; }

.carImage {
    height: 700px;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px; }

a {
    color: rgb(104, 58, 58);
}