.jumbotron {
    margin: 0;
    padding: 40px;
    background-color: forestgreen;
    color: white;
}

h1 {
    font-family: 'ZCOOL Xiaowei', serif; }

h4 {
    font-family: 'ZCOOL XiaoWei', serif; 
    }

.site-footer {
   
    padding: 10px 0; }



.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px; }

a {
    color: rgb(255, 255, 255);
}

.modal-content {
    background-image: linear-gradient(to right, black, 0, black);
}

.m-header {
    background-color: rgb(255, 255, 255);
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    font-family: 'oswald', sans-serif;
    
}

.carousel-item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carouselText {
    background-color: rgba(0, 0, 0, .5);
}

p {
    font-family: 'raleway', sans-serif;
}

.site-title {
    font-family: 'ubuntu', sans-serif;
}

a {
    font-family: 'ubuntu', sans-serif;
}

